.dragload{
  height: 100%;
  overflow: hidden;
  .drag{
    height: 100%;
    .items{
      height: 100%;
      overflow-y: scroll;
      .noData{
        padding: 30px;
        font-size: 15px;
        text-align: center;
        color: grey;
      }
    }
    .refresh, .loadNext{
      height: 50px;
      text-align: center;
      font-size: 15px;
      display: flex;
      align-items: center;
      color: grey;
      div{
        flex: 1;
        span{
          display: inline-block;
          transition: transform .3s;        
          margin-right: 10px;
          vertical-align: middle;
        }
        label{
          vertical-align: middle;
        }
      }
    }
    .refresh{
      margin-top: -50px;
      span{
        &:before{
          content: '↓'
        }
      }
    }
    .loadNext{
      margin-bottom: -50px;
      span{
        &:before{
          content: '↑'
        }
      }
    }
  }
}